<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"><img src="../../../../assets/images/Logo.png" width="60" height="60" alt="Imagen del Logo de MercaTouch"></a>
        <a id="ArquiSWTitle">MercaTouch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/homeuser">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/tiendas">Tiendas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pedidos">Pedidos</a>
                </li>
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{nombre}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item">Perfil</a></li>
                      <li><a class="dropdown-item" href="#checkin" data-bs-toggle="modal" data-bs-target="#checkin" data-bs-dismiss="modal">¿Tienes una Tienda?</a></li>
                      <li><a class="dropdown-item" routerLink="/mitienda" *ngIf="miTienda">Mi Tienda</a></li>
                      <li><a class="dropdown-item">Ajustes</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="/home">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="checkin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar Tienda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" [formGroup]="formularioRegistro">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="nombre" formControlName="registroNombre" required>
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="campoRequeridoNombre">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Este campo es obligatorio
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="ruta" placeholder="ruta" formControlName="registroRutaLogo" required>
                <label for="floatingInput">Ruta del Logo</label>
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="campoRequeridoRutaLogo">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Este campo es obligatorio
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="direccion" placeholder="direccion" formControlName="registroDireccion" required>
                <label for="floatingInput">Dirección</label>
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="campoRequeridoDireccion">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Este campo es obligatorio
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="opcionSeleccionado" (change)="capturar()" formControlName="registroDepartamento" required> 
                  <option value="0">Elige...</option>
                  <option [value]="item" *ngFor="let item of datos">{{item}}</option>
                </select>
            </div>
            <div class="input-group mb-3" *ngIf="campoCiudad">
                <label class="input-group-text" for="inputGroupSelect02">Ciudad</label>
                <select class="form-select" id="inputGroupSelect02" [(ngModel)]="opcionSeleccionado2" (change)="capturarC()" formControlName="registroCiudad" required> 
                  <option value="0">Elige...</option>
                  <option [value]="item" *ngFor="let item of datos2">{{item}}</option>
                </select>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="telefono" placeholder="telefono" formControlName="registroTelefono" required>
                <label for="floatingInput">Telefono</label>
            </div>
            <div class="alert alert-warning d-flex align-items-center" role="alert" *ngIf="campoRequeridotelefono">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Este campo es obligatorio
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Plan de Suscripcion</label>
                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="opcionSeleccionado3" (change)="capturarP()" formControlName="registroPlan" required> 
                  <option value="0">Elige...</option>
                  <option [value]="item" *ngFor="let item of datos3">{{item}}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Tiempo de Suscripcion</label>
                <select class="form-select" id="inputGroupSelect01" [(ngModel)]="opcionSeleccionado4" (change)="capturarT()" formControlName="registroTiempo" required> 
                  <option value="0">Elige...</option>
                  <option [value]="item" *ngFor="let item of datos4">{{item}}</option>
                </select>
            </div>
            
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="confirmacionCampos">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Faltan Campos por Rellenar
                </div>
            </div>
            <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="confirmacionRegistro">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  Se ha registrado correctamente
                </div>
              </div>
            <button type="submit" class="btn btn-danger mt-2" (click)="onRegistrarTienda()">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="confirmacionLoading"></span>
                <span class="visually-hidden">Loading...</span>
                Registrar
            </button>
        </div>
      </div>
    </div>
</div>