<main>
    <section>
        <app-header></app-header>
        <div class="ms-4">
            <div class="card">
                <div class="card-header">
                    <p class="h5"><strong>Tienda:</strong> {{tiendaNombre}}</p>
                </div>
                <div class="card-body">
                    <p><strong>Direccion:</strong> {{tiendaDireccion}}</p>
                    <p><strong>Ciudad:</strong> {{tiendaCiudad}}</p>
                    <p><strong>Departamento:</strong> {{tiendaDepartamento}}</p>
                    <p><strong>Telefono:</strong> {{tiendaTelefono}}</p>
                    <p><strong>Calificacion:</strong> {{tiendaCalificacion}}</p>
                </div>
            </div>
        </div>
    </section>
<footer>
    <section>
        
    </section>
</footer>
